# pyc files
# ---------
*.pyc

# all things for pypi
# -------------------
dist/*
build/*
test/*
vimpy.egg*

# virtual environment
# -------------------
venv/
README_cv.md

# test scripts
# -------------------
test_precompute_cv.py
